#particles
{
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	pointer-events: all;
	/* -webkit-mask-image: linear-gradient(to bottom, transparent 50px, black 200px); */
	/* mask-image: linear-gradient(to bottom, transparent 50px, black 200px); */
}
