body {
    margin: 0;
    overflow: hidden; 
    font-family: 'Segoe UI', sans-serif;
   -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	width: 100%;
	background-color: black;
}

#btn_toogle {
    width: 20%; 
    padding: 12px; 
    font-weight: bold; 
    cursor: pointer; 
    background-color: #28a745; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    font-size: 16px; 
    margin-bottom: 15px;
}

#btn_toogle:hover {
    background-color: #218838; 
}

body{
   background-color: #EEEEEE; 
}

footer{
    background-color: #0077b6;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}

footer a{
    color: black;
    text-decoration: none;
}

header{
    background-color: #0077b6;
    color: white;
    padding: 10px;
    text-align: center;
}

/* #hamburger{
    float: left;
    margin: 10px;
    height: 40px;
    padding: 0;
    cursor: pointer;
    display: block;
    background-color: #0077b6;
}   */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0077b6;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #1466b8;
}
