<!DOCTYPE html>
<html>
<head>
    <title>Leap Motion -> Niryo Ned2</title>
    <link rel="stylesheet" href="/static/CSS/style.css">
</head> 
 <header>
    <h1>NyrioMotion</h1>
</header>  
<body>
    <div>
        <nav>
            <ul>
                <li><a href="/" id="Documentation">Documentation</a></li>
                <li><a href="/about" id="about">À propos</a></li>
                <li><a href="/contact" id="contact">Contact</a></li>
            </ul>
        </nav>
    </div>

    <p id="statut">Connectez votre Leap Motion...</p>
    <p>Position X: <span id="pos_x">0</span> mm</p>
    <p>Position Y: <span id="pos_y">0</span> mm</p>
    <p>Position Z: <span id="pos_z">0</span> mm</p>
    <p>Pincement (Clic): <span id="pinch">Non</span></p>
    <p>Poing (Avancer): <span id="grab">Non</span></p>
    <button id="btn_toogle">Start/Stop</button>
    <script src="/static/JS/leap-1.1.1.js"></script>
    <script src="/static/JS/DataLeap.js"></script>
    <script src="/static/JS/mesFonctions.js"></script>
</body>
<footer>
    
    <p>© 2024 NyrioMotion. All rights reserved.</p>
    <a href=https://github.com/M1000Byte>Wellington</a><br>
    <a href="https://github.com/Daouda94">Cisse Daouda</a>
</footer>

</html>